@font-face {
    font-family: 'geomanistregular';
    src: url('./assets/geomanist-regular-webfont.woff2') format('woff2'),
    url('./assets/geomanist-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistlight';
    src: url('./assets/geomanist-light-webfont.woff2') format('woff2'),
    url('./assets/geomanist-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import './background.scss';
@import './logo.scss';
// Fonts are:
// Courrier for text
// Claude Sans itallic for head

$geo: 'geomanistregular', Arial, Helvetica, sans-serif;
$geo-light: 'geomanistlight', Arial, Helvetica, sans-serif;
$blue: #0e192b;
$blue-5: lighten(#0e192b, 5%);
$blue-10: lighten(#0e192b, 10%);
$orange: #8a4314;
$dark: #222222;
$dark-5: lighten($dark, 5%);
$dark-10: lighten($dark, 10%);
$light: #e3e7ee;
$light-5: lighten($light, 5%);
$light-10: lighten($light, 10%);
$transparent:rgba(0,0,0,0.5);


$nav-width: 70px;

html,body {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: $dark;
    font-family: $geo;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

body {
    @include mainBackground;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // width: 100vw;
    // // min-width: 800px;

    // height: calc(100vw * 0.5);
    // min-height: calc(800px * 0.5);
}

.root {
    width: 100vw;
    height: 100vh;
}

@mixin tiny {
    @media (min-width: 500px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin medium {
    @media (min-width: 980px) {
        @content;
    }
}

@mixin large {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
}

@mixin flex-horizontal {
    display: flex;
    flex-direction: row;
}

@mixin horizontal-center {
    @include flex-horizontal;
    justify-content: center;
}

@mixin vertical-center {
    @include flex-vertical;
    justify-content: center;
}

//////////////////////////////////////////////////////////
// Navigation
//////////////////////////////////////////////////////////

.nav-container {
    background-color: $transparent;
    width: $nav-width;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;

    @include flex-vertical;
    justify-content: flex-start;

    box-shadow: 2px 0px 16px 9px rgba(0,0,0,0.17);
    z-index: 10;
}

.icon-container {
    width: 100%;
    @include horizontal-center;
    cursor: pointer;
}

.icon-container:hover {
    background-color: $dark-5;
}

.home-icon {
    font-size: 28px;
    margin: 16px 0;   
    color: $light; 
}

.home-icon:hover {
    color: $light-10;
}

//////////////////////////////////////////////////////////
// Title
//////////////////////////////////////////////////////////

.title-container {
    box-shadow: -6px 13px 16px -1px rgba(0,0,0,0.27);
    background-color: $transparent;
    height: fit-content;
    min-height: 80px;
    color: $light;

    position: relative;
    padding-left: $nav-width;
    width: calc(100% - #{$nav-width});

    @include vertical-center;
    z-index: 8;
}

.site-title {
    margin: 24px 4vw 24px 4vw;
    font-size: 40px;
    color: $light;
    text-align: center;
    width: calc(100% - 8vw);

    @include mobile {
        text-align: left;
    }
}

.logo-image {
    @include logo;

    width: 60vw;
    margin: 8px auto;
    height: calc(60vw * 0.37);
    @include mobile {
        width: 300px;
        height: 111px;
    }

}

//////////////////////////////////////////////////////////
// Main
//////////////////////////////////////////////////////////

.main-container {
    color: $dark-10;
    // background-color: $light-10;
    padding-left: $nav-width;
    width: calc(100% - #{$nav-width});
    z-index: 0;

    @include flex-vertical;
    justify-content: row;
    @include mobile {
        margin-top: 16px;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.main-container.two,.main-container.three {
    margin-top: 0;
    > .card {
        @include mobile {
            margin-top: 0;
            // max-width: 60%;
        }
    }
    > .book-now {
        @include mobile {
            margin-top: 0;
        }
    }
}

.book-container {
    padding-left: $nav-width;
    width: calc(100% - #{$nav-width});

    @include flex-vertical;
    justify-content: row;
    @include mobile {
        flex-direction: row;
        justify-content: flex-start;
    }
}

.card {
    @include flex-vertical;
    width: 80%;
    margin: 16px auto;
    padding: 16px 32px;
    @include mobile {
        // flex-direction: row;
        justify-content: flex-start;
        width: fit-content;
        min-width: 30%;
        margin: 16px;
    }
    // background-color: $light-5;
    // background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!--Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)--%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1246.8 1692.9'%3E%3Cpath fill='%23eae5e2' d='M-143.1-55.5h1509.4v1826.9H-143.1z'/%3E%3Cpath fill='%23e7a298' d='M-84.8 624.6h1434.9v443.8H-84.8z'/%3E%3C/svg%3E");
    border-radius: 8px;
    box-shadow: 12px 13px 16px -1px rgba(0,0,0,0.27);
    background-color: rgba(0,0,0,0.5);

    min-height: 200px;
}

.card-one-third {
    @include mobile {
        width: calc(100% / 3);
    }
}
.card-two-thirds {
    @include mobile {
        width: calc(calc(100% / 3) * 2);
    }
}

.card-full {
    @include mobile {
        width: 80%;
        max-width: 100%;
    }
}

.text-container {
    @include flex-vertical;
    justify-content: flex-start;
    text-align: center;
    width: 95%;
    padding: 0 2vw;

    @include tiny {
        width: 100%;
    }
    @include mobile {
        text-align: left;
        width: fit-content;
    }
    
}

.text-container:not(:first-of-type) {
    margin-top: 16px;
}

.text {
    color: $light;
    font-size: 12px;
    width: fit-content;
    border-bottom: 1px solid $dark-10;
    margin: 0 auto;
    @include mobile {
        margin: 0;
    }
}

.text:hover {
    color: $light;
}


.services.phone-number {
    word-break: break-word;
    margin-bottom: 16px;
}

.map-card.card {
    padding: 0;
    width: 90%;
    margin: 16px auto;
    @include mobile {
        margin: 16px;
    }
    >.phone-email-container {
        padding: 0;
    }
}
